<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.service.microjc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MicroJc"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".Activity.App.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 20200616 android 10 以上安装无权限问题 添加provider 添加在application里面 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.service.microjc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>

        <activity
            android:name=".Activity.ToDo.NewToDoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Jw.ScoresInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Jw.JwUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Jw.JwLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Jw.ExamInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.tsg_web_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ykt.pay_web_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.App.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ykt.RecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.LibraryLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Library.LibraryUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ykt.YktLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ykt.YktUserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>